.load {
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  background: #9394d1;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  text-align: center;
  outline: 0;
  border: 0;
  cursor: pointer;
  font-weight: 600;
  color: #340526;
  font-size: 25px;
  height: 40px;
  padding: 8px 24px;
  border-radius: 50px;
  background-image: linear-gradient(180deg, #fff, #f5f5fa);
  box-shadow: 0 4px 11px #252c6126, 0 1px 3px #5d649433;
  transition: all 0.2s ease-out;
}
